Source: pyme
Section: python
Priority: optional
Maintainer: Igor Belyi <belyi@users.sourceforge.net>
Build-Depends: debhelper (>> 4.1.67), python-central, python2.4-dev, python2.5-dev, libgpgme11-dev, swig
XS-Python-Version: 2.4, 2.5
Standards-Version: 3.5.2

Package: python-pyme-doc
Architecture: all
XB-Python-Version: ${python:Versions}
Description: Python interface to the GPGME GnuPG encryption library
 This package contains the documentation for Pyme.

Package: python-pyme
Architecture: any
Provides: ${python:Provides}
Depends: ${python:Depends}, ${shlibs:Depends}
XB-Python-Version: ${python:Versions}
Suggests: python-pyme-doc
Description: Python interface to the GPGME GnuPG encryption library
 Pyme is, for the most part, a direct interface to the C GPGME
 library.  However, it is re-packaged in a more Pythonic way --
 object-oriented with classes and modules.  Take a look at the classes
 defined here -- they correspond directly to certain object types in GPGME
 for C.
 .
 Features:
 * Feature-rich, full implementation of the GPGME library. Supports all
   GPGME features. Callback functions may be written in pure Python.
 * Ability to sign, encrypt, decrypt, and verify data.
 * Ability to list keys, export and import keys, and manage the keyring.
 * Fully object-oriented with convenient classes and modules.

