# autogen.sh configuration for GPGME                        -*- sh -*-

case "$myhost" in
  w32)
    configure_opts=""
    ;;

  amd64)
    configure_opts=""
    ;;
esac


final_info="mkdir build && cd build && ../configure --enable-maintainer-mode && make"
