.deps
.gpg-v21-migrated
.libs
gpg-agent.conf
gpg.conf
pubring.gpg
pubring.gpg~
secring.gpg
t-cancel
t-decrypt
t-decrypt-verify
t-edit
t-encrypt
t-encrypt-large
t-encrypt-sign
t-encrypt-sym
t-eventloop
t-export
t-file-name
t-genkey
t-gpgconf
t-import
t-keylist
t-keylist-sig
t-sig-notation
t-sign
t-signers
t-thread1
t-trustlist
t-verify
t-wait
trustdb.gpg
