recursive-include doc *.org
recursive-include doc *.rst
recursive-include doc *.tex
recursive-include doc *.texi
recursive-include doc *.info
recursive-include examples *.py *.pyx
include README README.org
include gpgme.i
include helpers.c helpers.h private.h
include version.py
recursive-include gpg *.py
